body{
    background-color: rgb(241, 241, 234);

}

.bloco{
    background-color: #e0a897;
    width: 97%;
    height: 160px;
    border-radius: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    
    
}
img {
    height: 150px;
    width: 150px;
}

.pesquisa {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 500px;
}

.pesquisa input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  flex: 1;
}

.pesquisa button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}
.icones {
    display: flex;
    gap: 20px;
    padding-right: 2%;
}

.bloco a {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.bloco a:hover {
  color: #c5a13d;
}

.bloco2 {
  background-color: #ebbcae;
  width: 98%;
  height: 60px;
  margin-left: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 40px;
}
.botão {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 15px;
  width: 50%;
  font-size: 20px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s; 
  transform: scale(1.05);
}
.botão:hover {
color: #957a3f;
}

